<%- include('../partials/header') %>

<header class = "events-page">
    <h1>Upcoming Events</h1>
</header>

<span class="header-bg"><h3>Check out our Events that are happening soon!</h3></span>

<div class="events-container">
    <% events.forEach(event => { %>
    <div class="event-card">
        <h2><%= event.title %></h2>
        <p>Date: <%= event.date %></p>
        <p>Location: <%= event.location %></p>
        <img src="/images/<%= event.image %>" alt="<%= event.title %> image"> 
    </div>
    <% }); %>
</div>

<%- include('../partials/footer') %>